In [1]:
import numpy as np
import pandas as pd

df=pd.read_csv("ca_vital_sign_total_new_fillna_and_drop.csv")
print(df)

       subject_id   stay_id            indextime                 date  \
0        10026161  39625056  2133-11-15 17:55:00  2133-11-14 18:55:00
1        10026161  39625056  2133-11-15 17:55:00  2133-11-14 19:55:00
2        10026161  39625056  2133-11-15 17:55:00  2133-11-14 20:55:00
3        10026161  39625056  2133-11-15 17:55:00  2133-11-14 21:55:00
4        10026161  39625056  2133-11-15 17:55:00  2133-11-14 22:55:00
...           ...       ...                  ...                  ...
11232    19993336  36483324  2171-09-29 16:01:00  2171-09-29 12:01:00
11233    19993336  36483324  2171-09-29 16:01:00  2171-09-29 13:01:00
11234    19993336  36483324  2171-09-29 16:01:00  2171-09-29 14:01:00
11235    19993336  36483324  2171-09-29 16:01:00  2171-09-29 15:01:00
11236    19993336  36483324  2171-09-29 16:01:00  2171-09-29 16:01:00

       heart_rate  resp_rate    sbp   dbp   mbp  spo2  hours_diff
0            81.0       12.0  103.0  45.0  66.5  99.0          23
1            89.0       22.0   88.0  37.0  59.0  98.0          22
2            88.0       21.0  108.0  44.0  71.0  99.0          21
3            88.0       22.0  115.0  41.0  72.0  99.0          20
4            87.0       22.0  110.0  37.0  68.0  99.0          19
...           ...        ...    ...   ...   ...   ...         ...
11232        89.0       27.0  106.0  49.0  68.0  95.0           4
11233        85.0       13.0   93.0  56.0  69.0  94.0           3
11234        85.0       22.0  104.0  55.0  71.0  95.0           2
11235        85.0       26.0   99.0  55.0  69.0  94.0           1
11236        86.0       20.0  103.0  60.0  74.0  95.0           0

[11237 rows x 11 columns]

In [2]:
df_new_1=df.subject_id.value_counts().index[:475]  
print(df_new_1)

Int64Index([13125051, 13499901, 17871820, 13059186, 19674244, 11607177,
            13513868, 17790156, 12324099, 12811605,
            ...
            14152246, 13834698, 12104118, 17841493, 14178148, 15705944,
            13494014, 15903977, 14518633, 10294074],
           dtype='int64', length=475)

In [3]:
df_new_2=df.subject_id.value_counts().index[475:]
print(df_new_2)

Int64Index([19272121, 11458461, 19541392, 17442462, 14626941, 18761260], dtype='int64')

In [4]:
print(df)

       subject_id   stay_id            indextime                 date  \
0        10026161  39625056  2133-11-15 17:55:00  2133-11-14 18:55:00
1        10026161  39625056  2133-11-15 17:55:00  2133-11-14 19:55:00
2        10026161  39625056  2133-11-15 17:55:00  2133-11-14 20:55:00
3        10026161  39625056  2133-11-15 17:55:00  2133-11-14 21:55:00
4        10026161  39625056  2133-11-15 17:55:00  2133-11-14 22:55:00
...           ...       ...                  ...                  ...
11232    19993336  36483324  2171-09-29 16:01:00  2171-09-29 12:01:00
11233    19993336  36483324  2171-09-29 16:01:00  2171-09-29 13:01:00
11234    19993336  36483324  2171-09-29 16:01:00  2171-09-29 14:01:00
11235    19993336  36483324  2171-09-29 16:01:00  2171-09-29 15:01:00
11236    19993336  36483324  2171-09-29 16:01:00  2171-09-29 16:01:00

       heart_rate  resp_rate    sbp   dbp   mbp  spo2  hours_diff
0            81.0       12.0  103.0  45.0  66.5  99.0          23
1            89.0       22.0   88.0  37.0  59.0  98.0          22
2            88.0       21.0  108.0  44.0  71.0  99.0          21
3            88.0       22.0  115.0  41.0  72.0  99.0          20
4            87.0       22.0  110.0  37.0  68.0  99.0          19
...           ...        ...    ...   ...   ...   ...         ...
11232        89.0       27.0  106.0  49.0  68.0  95.0           4
11233        85.0       13.0   93.0  56.0  69.0  94.0           3
11234        85.0       22.0  104.0  55.0  71.0  95.0           2
11235        85.0       26.0   99.0  55.0  69.0  94.0           1
11236        86.0       20.0  103.0  60.0  74.0  95.0           0

[11237 rows x 11 columns]

In [6]:
df_new=df[df.subject_id.isin(list(df_new_1))]
print(df_new)
df_new.to_csv("ca_vital_sign_total_new_del_miss.csv",index=False)

       subject_id   stay_id            indextime                 date  \
0        10026161  39625056  2133-11-15 17:55:00  2133-11-14 18:55:00
1        10026161  39625056  2133-11-15 17:55:00  2133-11-14 19:55:00
2        10026161  39625056  2133-11-15 17:55:00  2133-11-14 20:55:00
3        10026161  39625056  2133-11-15 17:55:00  2133-11-14 21:55:00
4        10026161  39625056  2133-11-15 17:55:00  2133-11-14 22:55:00
...           ...       ...                  ...                  ...
11232    19993336  36483324  2171-09-29 16:01:00  2171-09-29 12:01:00
11233    19993336  36483324  2171-09-29 16:01:00  2171-09-29 13:01:00
11234    19993336  36483324  2171-09-29 16:01:00  2171-09-29 14:01:00
11235    19993336  36483324  2171-09-29 16:01:00  2171-09-29 15:01:00
11236    19993336  36483324  2171-09-29 16:01:00  2171-09-29 16:01:00

       heart_rate  resp_rate    sbp   dbp   mbp  spo2  hours_diff
0            81.0       12.0  103.0  45.0  66.5  99.0          23
1            89.0       22.0   88.0  37.0  59.0  98.0          22
2            88.0       21.0  108.0  44.0  71.0  99.0          21
3            88.0       22.0  115.0  41.0  72.0  99.0          20
4            87.0       22.0  110.0  37.0  68.0  99.0          19
...           ...        ...    ...   ...   ...   ...         ...
11232        89.0       27.0  106.0  49.0  68.0  95.0           4
11233        85.0       13.0   93.0  56.0  69.0  94.0           3
11234        85.0       22.0  104.0  55.0  71.0  95.0           2
11235        85.0       26.0   99.0  55.0  69.0  94.0           1
11236        86.0       20.0  103.0  60.0  74.0  95.0           0

[11205 rows x 11 columns]

In [ ]:
#df_new_1=df_new_1.to_frame()
#df_new_1.to_csv("a1.csv",index=False)
#df_new_2=df_new_2.to_frame()
#df_new_2.to_csv("a2.csv",index=False)

In [60]:
print(df.subject_id.value_counts())

13125051    24
13499901    24
17871820    24
13059186    24
19674244    24
            ..
11458461    11
19541392     3
17442462     2
14626941     2
18761260     2
Name: subject_id, Length: 481, dtype: int64

In [61]:
print(df.subject_id.value_counts().value_counts())

24    377
23     54
22     26
21      8
20      3
2       3
16      2
19      1
18      1
17      1
15      1
14      1
12      1
11      1
3       1
Name: subject_id, dtype: int64